<!DOCTYPE html>
<html>
  <head>
  <title>PINCRED | Soluções Financeiras</title>
    <%= render 'layouts/layout_user/config_users' %>  
  </head>

  <body>
   <%= render 'layouts/layout_user/users_header'%>
  <%= yield %> 
  </body>
</html>